#rooms-page, #game-page {
  padding: 30px;
}

/* Room page */

#rooms-page h1 {
  margin-bottom: 50px;
}

#rooms-page h2 {
  font-size: 20px;
  text-transform: capitalize;
}

#create-room-button {
  margin-bottom: 50px;
}

#rooms-container {
  display: flex;
  flex-wrap: wrap;
}

.room-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--input-border-color);
  height: 200px;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.room-item p {
  align-self: flex-start;
  font-size: 10px;
}

.room-item .btn {
  margin-bottom: 20px;
}

/* Game page */

.game-page-container {
  display: grid;
  grid-template-columns: 300px 600px;
  grid-column-gap: 30px;
  height: 500px;
}

.column-one h1 {
  margin-bottom: 15px;
  text-transform: capitalize;
}

.column-one button {
  margin-bottom: 50px;
}

.column-one .user-name {
  padding-left: 30px;
  margin-bottom: 10px;
}

.column-one .user-name.ready::before {
  content: '';
  height: 15px;
  width: 15px;
  background: chartreuse;
  position: relative;
  left: -15px;
  top: 2px;
  display: inline-block;
  border-radius: 100%;
}

.column-one .user-name::before {
  content: '';
  height: 15px;
  width: 15px;
  background: crimson;
  position: relative;
  left: -15px;
  top: 2px;
  display: inline-block;
  border-radius: 100%;
}

.column-one .progress-bar {
  width: 300px;
  height: 30px;
  border: 1px solid var(--input-border-color);
  margin-bottom: 10px;
}

.column-one .progress-bar .indicator {
  background: var(--text-done);
  height: 100%;
  width: 0%;
}

.column-one .progress-bar .indicator.lime {
  background: lime;
}

.column-one .user-block:last-of-type .progress-bar {
  margin-bottom: 0;
}

.column-two {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--input-border-color);
  position: relative;
}

.column-two button {
  font-size: 26px;
  padding: 25px 70px;
  text-transform: uppercase;
  width: 290px;
  color: var(--main-font-color);
}

.column-two .game-timer {
  color: var(--input-placeholder-color);
  font-size: 40px;
}

.column-two .time-left {
  position: absolute;
  right: 5px;
  top: 5px;
}

.column-two .text-done {
  background: var(--text-done);
}

.column-two .next-char {
  text-decoration: underline;
}

/* Modal window */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 15px;
}

.modal-content .modal-list li {
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

